$blue-france: #000091;
$blue-marine:#243B7C;
$blue-medium: #2f29ff;
$blue-secondary: #0067E2;
$blue-light: #0063CB;
$blue-lighter: #E8EDFF;
$blue-active: #6262fb;
$yellow-light: #FFCA00;
$yellow-dark: #987721;
$green-transparent: #62D2C0;
$green-pale: #09B8A6;
$green-light: #1DD884;
$green-dark: #297254;
$red-dark: #FF2D2D;
$white: #FFFFFF;
$grey: #383838;
$grey-light: #3A3A3A;
$grey-background: #EEEEEE;
$red-medium: #CE0500;
$light-grey: #666666;
$lighter-grey: #E6E6E6;
