$blue-marine:#243B7C;
$blue-medium: #2f29ff;
$blue-secondary: #0067E2;
$blue-active: #6262fb;
$yellow-light: #FFCA00;
$yellow-dark: #987721;
$green-transparent: #62D2C0;
$green-pale: #09B8A6;
$green-light: #1DD884;
$red-dark: #FF2D2D;
$grey: #383838;
$lighter-grey: #E6E6E6;
