$blue-france: #000091;
$blue-light: #0A76F6;
$blue-cumulus-sun: #3558A2;
$blue-cumulus-active: #C0D0FB;
$yellow-light: #FCC63A;
$yellow-medium: #E2B133;
$yellow-dark: #987721;
$green-tilleul-verveine: #F3DC58;
$green: #52CD80;
$red: #FC8162;
$pink-tuile: #FBBAB5;
$brown: #D9B269;
$purple: #A558A0;
$white: #FFFFFF;
