.accueil {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .presentationPart {
    display: flex;
    flex-grow: 1;
  }

  .bluePart, .yellowPart {
    display: flex;
    flex: 1;
  }

  .yellowPart {
    background: linear-gradient(to bottom, #FCC63A, #E2B133 78.47%, #987721 100% );
  }

  .bluePart {
    background: linear-gradient(to top, #000091, #0A76F6 100% );
  }

  .logoPart {
    display: flex;
    justify-content: center;
  }

  .logoFR {
    position: absolute;
    margin-top: 2rem;
  }
}
