@import '../colors/colors';

.accueil {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .presentationPart {
    display: flex;
    flex-grow: 1;

    .yellowTitle, .blueTitle {
      font-weight: 600;
      font-size: 72px;
      line-height: 80px;
      color: $white;
      display: flex;
      align-items: center;
      flex-basis: 38rem;
      box-shadow: none;
    }
    .blueTitle {
      margin-left: calc(50%/12);
    }
  }

  .bluePart, .yellowPart {
    display: flex;
    flex: 1;
  }

  .yellowPart {
    background: linear-gradient(to bottom, $yellow-light, $yellow-medium 78.47%, $yellow-dark 100% );
    justify-content: flex-end;
  }

  .bluePart {
    background: linear-gradient(to top, $blue-france, $blue-light 100% );
  }

  .logoPart {
    display: flex;
    justify-content: center;
  }

  .logoFR {
    position: absolute;
    margin-top: 2rem;
  }
}

.themes {
  .circleBlue {
    width: 180px;
    height: 180px;
    border-radius: calc(180px/2);
    background: $blue-cumulus;
    display: flex;
    align-items: center;
    justify-content: center;

    .pictoEchanger {
      width: 56px;
      height: 44px;
    }
  }
}
