@import '../colors/colors';

.accueil {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .presentationPart {
    display: flex;
    flex-grow: 1;
  }

  .bluePart, .yellowPart {
    display: flex;
    flex: 1;
  }

  .yellowPart {
    background: linear-gradient(to bottom, $yellow-light, $yellow-medium 78.47%, $yellow-dark 100% );
  }

  .bluePart {
    background: linear-gradient(to top, $blue-france, $blue-light 100% );
  }

  .logoPart {
    display: flex;
    justify-content: center;
  }

  .logoFR {
    position: absolute;
    margin-top: 2rem;
  }
}
