@import '../colors/colors';

.aideCandidat, .aideStructure {
  a[target=_blank]::after {
    display: none; /* suppression du picto target blank */
  }

  a[target=_blank] {
    background-image: none; /* suppression du underline */
  }

  .bleu-secondaire {
    color: $blue-secondary;
  }

  .bleu-conseiller {
    color: $blue-medium;
  }

  .red-text {
    color: $red-dark;
  }

  .white-text {
    color: var(--grey-1000-50);
  }

  .buttonCustom {
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 2.5rem;
    line-height: 1.25rem;
    text-align: center;
    background: var(--grey-1000-50);
    display: inline-block;
    padding: 1.5rem;
    border: none;
    border-radius: 50px;
    width: 70%;
    box-shadow: none;
  }

  .blueButtonCustom {
    color: $blue-medium;
    border: 1px solid $blue-medium;
  }

  .redButtonCustom {
    width: 100%;
    color: $red-dark;
    border: 1px solid $red-dark;
  }

  .texte-centre {
    text-align: center;
  }

  .etapes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .etape {
    height: 150px ;
  }

  .partProgram {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .contenu-centre {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fond-bleu-secondaire {
    background: $blue-secondary;
  }

  @media (max-width: 992px) {
    .partProgram {
      flex-direction: column;
    }
  }
}
