@import "../colors/colors";

.coordination-territoriale {
  .bleu-secondaire {
    color: $blue-secondary;
  }
  .gris-paragraphe {
    color: $light-grey;
  }
  .primary-list {
    list-style-image: url("../../images/icon-fleche.svg");
  }
  .secondary-list {
    list-style: disc;
  }
  .secondary-list li::marker {
    color: $blue-france;
  }
  .title-mission {
    color: $blue-france;
    text-align: center;
    margin: 0;
  }
  .picto-mission {
    position: absolute;
    transform: translateY(-75%);
  }
  .illustration-mission1 {
    position: absolute;
    transform: translateY(113%)
  }
  .illustration-mission2 {
    position: absolute;
    transform: translateY(147%)
  }
  .illustration-mission3 {
    position: absolute;
    transform: translateY(148%)
  }
  .illustration-mission4 {
    position: absolute;
    transform: translateY(165%)
  }
  .display-mobile {
    display: none;
  }
  @media (max-width: 480px) {
    .display-mobile {
      display: flex;
    }
    .display-desktop {
      display: none;
    }
    .illustration-mission1 {
      transform: translateY(112%);
      width: 95%;
    }
    .illustration-mission2 {
      transform: translateY(142%);
      width: 95%;
    }
    .block-mission2 {
      padding-bottom: 9rem;
    }
    .illustration-mission3 {
      transform: translateY(140%);
      width: 95%;
    }
    .illustration-mission4 {
      transform: translateY(157%);
      width: 95%;
    }
  }
}
