@import "../colors/colors";

.coordination-territoriale {
  .bleu-secondaire {
    color: $blue-secondary;
  }
  .gris-paragraphe {
    color: $light-grey;
  }
  .primary-list {
    list-style-image: url("../../images/icon-fleche.svg");
  }
  .secondary-list {
    list-style: disc;
  }
  .secondary-list li::marker {
    color: $blue-france;
  }
  .title-mission {
    color: $blue-france;
    text-align: center;
    margin: 0;
  }
  .picto-mission {
    position: absolute;
    transform: translateY(-75%);
  }
  .illustration-mission1 {
    position: absolute;
    transform: translateY(113%)
  }
  .illustration-mission2 {
    position: absolute;
    transform: translateY(147%)
  }
  .illustration-mission3 {
    position: absolute;
    transform: translateY(148%)
  }
  .illustration-mission4 {
    position: absolute;
    transform: translateY(165%)
  }
}
