@import '../colors/colors';

.formation {
  color: $grey !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
  a {
    color: var(--blue-france-sun-113-625);
  }

  .fresque {
    width: 100%;
  }

  .introduction {
    font-size: 1.125rem;
  }

  .title-h3 {
    font-size: 1.125rem;
    color: var(--info-425-625);
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .description {
    color: var(--grey-425-625);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
  }

  .cadre {
    border: 1px solid $lighter-grey;
  }

  .encart-bleu {
    background: var(--info-950-100);
    color: $blue-secondary;
  }

  .cadre-bleu {
    background: var(--info-950-100);
    text-align: center;
  }

  .lien-image-fabrik {
    background: none;
    &::after{
      display: none;
    }
  }

  @media (max-width: 1247px) {
    .img-fabrik {
      margin: 0 auto !important;
    }
  }
}
