.kit-communication  {
  a[target=_blank]::after {
    display: none; /* suppression du picto target blank */
  }

  a[href] {
    background-image: none; /* suppression du underline */
  }

  .h4CustomKit {
    margin-top: 0;
    margin-bottom: 56px;
    font-size: 24px;
  }

  .h4CustomKit--secondary {
    font-weight: 600;
    margin-bottom: 24px;
    font-size: 20px;
  }

  .boldText {
    font-weight: 600;
    font-style: normal;
  }

  .bleu-france {
    color: var(--blue-france-sun-113-625);
  }

  .summary-custom {
    background-color: unset;
    padding: 0;
  }

  .summary-custom li {
    padding:  0 0 0.25rem 0;
  }

  .summary-title-custom, .about-title-custom {
    font-size: 24px;
    font-weight: 700;
  }

  .summary-list-custom {
    padding: 0;
  }

  .summary-list-custom li {
    margin: 1rem 0;
  }

  .summary-list-custom li:first-child {
    margin-top: 0;
    padding: 0;
  }

  .summary-link-custom {
    padding: 0;
  }

  .summary-link-custom-bold {
    font-weight: 700;
  }

  .cadre-kit {
    background-color: var(--info-950-100);
    padding: 2rem;
  }

  .flashlight-icon {
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZD0iTTEzIDEwaDdsLTkgMTN2LTlINGw5LTEzdjlaIi8+PC9zdmc+");
    mask-size: 100% 100%;
  }

  @media (max-width: 767px) {
    .preview-image {
      text-align: center;
    }

    .preview-image-last {
      margin-top: 48px;
    }
  }
}
