@import '../../colors/colors';

.accompagnements {

  .typePart {
    display: flex;
    flex-grow: 1;
  }

  .greenPart, .yellowPart {
    display: flex;
    flex: 1;
    height: 256px;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
  }

  .yellowPart {
    background: linear-gradient(to bottom, $yellow-light, $yellow-dark 100% );
    justify-content: flex-end;
  }

  .greenPart {
    background: linear-gradient(to bottom, $green-light, $green-dark 100% );
    justify-content: flex-start;
  }

  .contentPart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 38rem;
  }

  .greenPart .contentPart {
    align-items: flex-end;
  }

  .image {
    max-width: 100%;
    max-height: 100%;
  }

  .titlePart {
    text-align: center;
  }

  @media (max-width: 768px) {
    .greenPart, .yellowPart {
      height: 180px;
    }
  }

  @media (max-width: 576px) {
    .greenPart, .yellowPart {
      height: 100px;
    }

    .titlePart {
      font-size: 18px!important;
    }
  }
}
