@import '../../colors/colors';

.bienvenue {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .presentationPart {
    display: flex;
    flex-grow: 1;

    .yellowTitle, .blueTitle {
      font-weight: 600;
      font-size: 72px;
      line-height: 80px;
      color: $white;
      display: flex;
      padding-top: 10rem;
      flex-basis: 38rem;
      box-shadow: none;
    }
    .blueTitle {
      padding-left: calc(50%/12);
    }
  }

  .bluePart, .yellowPart {
    display: flex;
    flex: 1;
  }

  .yellowPart {
    background: linear-gradient(to bottom, $yellow-light, $yellow-medium 78.47%, $yellow-dark 100% );
    justify-content: flex-end;
  }

  .bluePart {
    background: linear-gradient(to top, $blue-france, $blue-light 100% );
  }

  .logoPart {
    display: flex;
    justify-content: center;
  }

  .logoFR {
    position: absolute;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    .yellowTitle {
      padding-left: calc(50%/12);
    }

    .presentationPart {
      .yellowTitle, .blueTitle {
        font-size: 48px;
      }
    }
  }

  @media (max-width: 576px) {
    .presentationPart {
      .yellowTitle, .blueTitle {
        font-size: 28px;
      }
    }
  }
}
