.bienvenue {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, var(--info-425-625) 30%, var(--blue-france-sun-113-625) 100%);

  .presentationPart {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-image: url(/src/assets/images/confettis-min.svg);
    background-repeat: no-repeat;
    background-position: left 0 top -38px;
    background-size: calc(50% + 387px) calc(50% + 128px);

    .contentPart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-basis: 76rem;
      text-align: center;
    }

    .logoFR {
      width: 64px;
      height: 64px;
    }

    .title {
      color: var(--grey-1000-50);
      margin-bottom: 28px;
    }

    .twoParts {
      display: flex;
      width: 100%;
    }

    .leftPart, .rightPart {
      display: flex;
      flex: 1;
      flex-basis: 38rem;
      flex-direction: column;
      align-items: center;
    }

    .btnCustom {
      background-color: var(--grey-1000-50);
      color: var(--blue-france-sun-113-625);
      font-family: 'Marianne Regular';
      border-radius: 40px;
      font-size: 20px;
      height: 50px;
      width: calc(200%/6);
      display: flex;
      justify-content: center;
    }

  }

  @media (max-width: 1200px) {
    .presentationPart {
      background-image: none;
      position: relative;
      overflow: hidden;
    }

    .presentationPart::before {
      content: "";
      position: absolute;
      width: 200%;
      height: 200%;
      top: -50%;
      left: -50%;
      z-index: 0;
      background: url(/src/assets/images/confettis-min.svg) 0;
      background-repeat: no-repeat;
      transform: rotate(90deg);
      background-size: contain;
    }

    .presentationPart .contentPart {
      z-index: 1;
      justify-content: flex-start;
    }

    .presentationPart .twoParts {
      flex-direction: column;
    }

    .presentationPart .btnCustom {
      width: calc(800%/12);
      height: 56px;
    }

    .presentationPart .leftPart, .presentationPart .rightPart {
      flex-basis: calc(50% + 10px);
    }

    .presentationPart .leftPart > img, .presentationPart .rightPart > img {
      width: calc(1000%/12);
    }

    .presentationPart .title {
        margin-top: 0px;
    }

    .leftPart > img {
      margin-bottom: 24px;
    }
  }

  @media (max-width: 576px) {
    .presentationPart::before {
      top: -72%;
    }

    .presentationPart .btnCustom {
      font-family: 'Marianne';
      font-weight: 700;
    }
  }

}

@media (max-width: 576px) {
  .bienvenue {
    background: linear-gradient(to bottom right, var(--info-425-625) 0%, var(--blue-france-sun-113-625) 100%);
  }
}
