@import '../../colors/colors';

.priseRDV {
  height: 330px;
  background: linear-gradient(to bottom, $blue-france, $blue-light 100%);
  display: flex;
  align-items: flex-end;

  .contentColumn {
    display: flex;
    justify-content: flex-start;
    max-width: 75rem;
    margin: 0 auto;
  }

  .contentRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(600%/12);
  }

  .titleRDV {
    padding-top: 16px;
    text-align: center;
    color: $white;
  }

  .btnCustom {
    background-color: $white;
    color: $blue-france;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 700;
    height: 56px;
    display: flex;
    justify-content: center;
  }

  .btnCustom:hover {
    background-image: none;
  }

  .contentImage {
    width: calc(300%/12);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .contentRow + .contentImage {
    justify-content: flex-end;
  }

  .image {
    height: 314px;
  }

  a[id=cartographie] {
    box-shadow: none;
  }

  @media (max-width: 1094px) {
    height: 350px;

    .btnCustom {
      max-width: 70%;
      height: 80px;
      text-align: center;
    }

  }

  @media (max-width: 768px) {
    height: 345px;

    .btnCustom {
      max-width: 90%;
      margin-bottom: 10px;
    }

    .image {
      height: unset;
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {

    .contentImage {
      display: none;
    }

    .contentRow {
      max-width: 100%;
    }

  }
}
