.rencontres {
  .picto {
    width: 176px;
    height: 176px;
  }

  .titlePart {
    display: flex;
    justify-content: center;
  }

  .titleSquare {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    width: 15%;
    padding-top: 10px;
  }

  @media (min-width: 2100px) {
    .titleSquare {
      width: 7%;
    }
  }

  @media (max-width: 768px) {
    .titleSquare {
      padding: 28px 20px;
      font-size: 20px;
    }

    .responsiveSquare {
      flex-basis: 100%;
      margin: 4rem auto;
      text-align: center;
    }

    .responsiveSquare:first-child {
      margin-top: 0;
    }

    .titleSquare {
      width: unset;
    }
  }

  @media (max-width: 576px) {
    .titleSquare {
      line-height: 25px;
      font-size: 16px;
    }
  }
}
