@import '../../colors/colors';
@font-face {
  font-family: "Marianne Regular";
  src: url('~@gouvfr/dsfr/dist/fonts/Marianne-Regular.woff2') format("woff2"),
    url('~@gouvfr/dsfr/dist/fonts/Marianne-Regular.woff') format("woff");
 }

$-picto: 207px;

.themes {
  .picto {
    width: $-picto;
    height: $-picto;
  }

  .spaceLineHexagon {
    margin-top: -55px;
  }

  .titlePart {
    display: flex;
    justify-content: center;
  }

  .titleHexagon {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    padding-top: 9px;
  }

  .tooltip {
    padding: 18px;
    border-radius: 10px;
    line-height: 22px;
    font-size: 16px;
  }

  .hideColumn {
    z-index: -1; //pour l'affichage des tooltips sur l'hexagone entier
  }

  .helpTooltip {
    font-size: 12px;
    text-align: center;
    font-family: 'Marianne Regular';
  }

  .responsiveHexagon {
    padding: 0;
  }

  @media (max-width: 1200px) {
    .titleHexagon {
      padding-left: 50px;
    }
  }

  @media (max-width: 768px) {
    .responsiveHexagon {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 180px;
      flex-basis: 100%;
    }

    #emploiResponsive > div.responsiveHexagon:nth-child(2) {
      margin-bottom: 130px;
    }

    .hideColumn {
      display: none;
    }

    .titleHexagon {
      padding-left: 0px;
      font-size: 20px;
      line-height: 36px;
    }

    .helpTooltip {
      font-size: 16px;
    }
  }

  @media (max-width: 576px) {
    .tooltip {
      width: 300px;
    }
  }
}
