@import '../../colors/colors';

$-circleHeight: 180px;
$-picto: 56px;

.themes {
  .circle {
    width: $-circleHeight;
    height: $-circleHeight;
    border-radius: calc($-circleHeight/2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .circleBlueDark {
    background: $blue-cumulus-sun;
  }

  .circleYellow {
    background: $green-tilleul-verveine;
  }

  .circleRed {
    background: $red;
  }

  .circleBlueLight {
    background: $blue-cumulus-active;
  }

  .circleBrown {
    background: $brown;
  }

  .circleGreen {
    background: $green;
  }

  .circlePurple {
    background: $purple;
  }

  .picto {
    width: $-picto;
    height: $-picto;
  }

  .spaceLineCircle {
    margin-top: calc(-#{$-circleHeight}/4);
  }

  .titlePart {
    display: flex;
    justify-content: center;
  }

  .titleCircle {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    position: absolute;
    padding-top: 12px;
  }

  @media (max-width: 1200px) {
    .titleCircle {
      padding-left: 50px;
    }
  }

  @media (max-width: 768px) {
    .responsiveCircle {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 150px;
      flex-basis: 100%;
    }

    .hideColumn {
      display: none;
    }

    .titleCircle {
      padding-left: 0px;
      font-size: 24px;
      line-height: 36px;
    }

    .circle {
      width: 17rem;
      height: 17rem;
      border-radius: calc($-circleHeight);
    }

    .picto {
      width: calc($-picto*2);
      height: calc($-picto*2);
    }
  }

  @media (max-width: 576px) {
    .circle {
      width: 12rem;
      height: 12rem;
    }
  }
}
