.cc-section {
  border: 1px solid var(--grey-900-175);
}

.cc-section legend {
  float: left;
  padding: 0;
  width: 100%;
}

.cc-section legend+* {
  clear: left;
}

.cc-titre {
  color: var(--blue-france-sun-113-625);
}

.cc-obligatoire {
  color: var(--error-425-625);
}

.cc-bold {
  font-weight: 900;
}

.cc-notice {
  background-color: var(--blue-france-975-75);
}

.cc-datepicker {
  width: auto;
}

.cc-envoyer {
  width: 100%;
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}
