.fr-footer {

  .footerBrandCustom {
    flex-basis: 50%;
    padding-top: 14px;
  }

  .footer__partners-link[href] {
    background-image: none;
  }

  .footerBrandCustom:hover, .footerBrandCustom:active, .fr-footer__brand-link:active {
    background-color: unset;
  }

  .logoFranceRelance {
    width: 100%;
  }

  .footerContentCustom {
    display: flex;
    flex-basis: 50%;
  }

  .footerListCustom {
    display: block;
    column-count: 1;
  }

  .footerListCustom li:first-child {
    margin-top: 0;
  }

  @media (max-width: 992px) {

    .fr-footer__brand {
      flex-basis: 100%;
    }

    .footerContentCustom {
      flex-basis: 100%;
    }

    .footerListCustom {
      display: flex;
    }

    .footerListCustom li:first-child {
      margin-top: 0.5rem;
    }

  }

  @media (max-width: 580px) {
    .fr-footer__brand {
      flex-basis: 100%;
    }
  }
}
