.fr-footer {

  .logoFranceRelance {
    height: 70px;
    margin: 0 0 15px 20px;
  }

  .fr-footer__brand {
    flex-basis: 50%;
  }

  .footerContentCustom {
    display: flex;
    flex-basis: 50%;
  }

  .footerListCustom {
    display: block;
    column-count: 2;
  }

  .footerListCustom li:first-child {
    margin-top: 0;
  }

  @media (max-width: 992px) {

    .fr-footer__brand {
      flex-basis: 40%;
    }

    .footerContentCustom {
      flex-basis: 60%;
    }

    .footerListCustom {
      display: flex;
      flex-direction: column;
    }

  }

  @media (max-width: 580px) {
    .fr-footer__brand {
      flex-basis: 100%;
    }
  }
}
