@import '../colors/colors';

.fr-header {

  .link-renouvellement-conventions {
    color: $red-medium !important;
  }

  // Pour contrer la classe du DSFR [target=_blank]:after
  .link-renouvellement-conventions::after {
    margin-bottom: unset;
    margin-left: unset;
    mask-image: none;
    -webkit-mask-image: unset;
  }

}
